.details-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, var(--SmokeWhite), var(--GreenishGray));
}
.details-fondo {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  overflow: hidden;
}
.details-fondo img {
  mask-image: linear-gradient(to right, black 20%, transparent);
  height: 130%;
  object-fit: cover;
}
.details-carousel {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.details-carousel-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.details-card {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: row-reverse;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: 0.5s ease-in-out;
}
.details-card-active {
  opacity: 1;
  transform: scale(1);
  pointer-events: visible;
}
.details-carousel-arrow-left,
.details-carousel-arrow-right {
  position: absolute;
  font-size: 2.5rem;
  top: 50%;
  transform: translate(0, -50%);
  color: var(--SmokeWhite);
  background-color: var(--GreenishGray);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}
.details-carousel-arrow-left {
  left: 2rem;
}
.details-carousel-arrow-right {
  right: 2rem;
}
.details-carousel-pagination {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
}
.pagination-dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--SmokeWhite);
  margin-left: 1rem;
  display: inline-block;
  cursor: pointer;
}
.pagination-dot:hover {
  transform: scale(1.2);
}
.pagination-dot-active {
  background-color: var(--GreenishGray);
}
.details-info {
  width: 60%;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  padding: 4rem;
}
.details-info h2 {
  font-size: 2em;
  color: var(--DarkGreen);
  margin-bottom: 1rem;
}
.details-info p {
  width: 70%;
  font-size: 1.4em;
  color: var(--DarkGreen);
}
.details-image {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 4rem;
  height: 100vh;
  overflow: hidden;
}
.details-image img {
  object-fit: cover;
  width: auto;
  height: 85%;
  rotate: 5deg;
  animation: float 15s infinite;
}
@keyframes float {
  0% {
    transform: translate(0, 0);
    rotate: 5deg;
  }
  50% {
    transform: translate(0.8rem, -0.8rem);
    rotate: 3deg;
  }
  100% {
    transform: translate(0, 0);
    rotate: 5deg;
  }
}

/* Responsive */

@media (max-width: 630px) {
  .details-container {
    background: linear-gradient(
      to bottom,
      var(--SmokeWhite),
      var(--GreenishGray)
    );
  }
  .details-card {
    flex-direction: column;
    background: linear-gradient(
      to bottom,
      var(--SmokeWhite),
      var(--GreenishGray)
    );
  }
  .details-fondo {
    top: auto;
    bottom: 0;
    width: 100vw;
    height: 30rem;
  }
  .details-fondo img {
    mask-image: linear-gradient(to top, black 20%, transparent);
    width: 100%;
    height: auto;
    rotate: 90deg;
  }
  .details-info {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  .details-info h2 {
    font-size: 1.5em;
  }
  .details-info p {
    width: 100%;
    font-size: 0.9em;
  }
  .details-image {
    width: 100vw;
    justify-content: center;
    padding: 0.5rem;
    padding-bottom: 1rem;
    height: auto;
  }
  .details-image img {
    width: auto;
    height: 100%;
  }
  .details-carousel-arrow-left,
  .details-carousel-arrow-right {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
  }
  .details-carousel-arrow-left {
    left: 1rem;
  }
  .details-carousel-arrow-right {
    right: 1rem;
  }
  .details-carousel-pagination {
    bottom: 1rem;
  }
  .pagination-dot {
    width: 0.8rem;
    height: 0.8rem;
    margin-left: 0.5rem;
  }
}
