.team {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 0 10rem;
  background-color: var(--SmokeWhite);
}
.team-title {
  text-align: center;
  font-size: 2.7rem;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: var(--DarkGreen);
}
.team-separator {
  width: 20vw;
  height: 0.3rem;
  background-color: var(--BluishGreen);
  margin: 0 auto;
  border-radius: 5rem;
  margin-bottom: 2rem;
}
.team-text {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--DarkGreen);
  margin-bottom: 4rem;
  text-wrap: balance;
}
.team-members-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}
.team-container {
  width: 22rem;
  height: 28rem;
  display: flex;
  justify-content: space-around;
  border: 0.2rem solid var(--NavyBlue);
}
.team-image-container {
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-image {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--NavyBlue);
}
.team-name {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 1rem;
  color: var(--DarkGreen);
}
.team-role {
  margin-top: -0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  color: var(--DarkGreen);
}
.team-card-separator {
  width: 30%;
  height: 0.2rem;
  background-color: var(--AsphaltGray);
  margin: 0 auto;
  margin-top: 1rem;
}
.team-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
  color: var(--DarkGreen);
}
.team-contact a {
  text-decoration: none;
}
.team-contact a i {
  font-size: 3rem;
  color: var(--DarkGreen);
}
@media (max-width: 1540px) {
  .team {
    height: 100vh;
    padding: 0 5rem;
  }
  .team-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .team-separator {
    margin-bottom: 1rem;
  }
  .team-text {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .team-members-container {
    gap: 2rem;
  }
  .team-container {
    width: 20rem;
    height: 25rem;
  }
  .team-image-container {
    height: 8rem;
  }
  .team-image {
    width: 6rem;
    height: 6rem;
  }
  .team-name {
    font-size: 1.5rem;
  }
  .team-role {
    font-size: 1rem;
  }
  .team-card-separator {
    width: 20%;
    margin-top: 1rem;
  }
  .team-contact a i {
    font-size: 2rem;
  }
}
@media (max-width: 780px) {
  .team {
    margin-top: -3rem;
    padding: 0 2rem;
    padding-bottom: 2rem;
    display: block;
    height: auto;
  }
  .team-title {
    font-size: 1.5rem;
    padding-top: 2rem;
    margin-bottom: 1rem;
  }
  .team-separator {
    width: 30vw;
    margin-bottom: 1rem;
  }
  .team-text {
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }
  .team-members-container {
    gap: 1rem;
  }
  .team-container {
    width: 15rem;
    height: 18rem;
  }
  .team-image-container {
    height: 6rem;
  }
  .team-image {
    width: 4rem;
    height: 4rem;
  }
  .team-name {
    font-size: 1.2rem;
  }
  .team-role {
    font-size: 0.8rem;
  }
  .team-card-separator {
    width: 30%;
    margin-top: 0.5rem;
  }
  .team-contact {
    margin-top: 0rem;
  }
  .team-contact a i {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}
