.home {
  background: linear-gradient(
    to right,
    var(--NavyBlue),
    var(--BluishGreen),
    var(--Turquoise)
  );
}
.home-box {
  position: absolute;
  z-index: -1;
}
.box-purple {
  width: 7rem;
  height: 7rem;
  top: 8rem;
  left: 6rem;
  background-color: var(--ElectricPurple);
}
.box-green {
  width: 4rem;
  height: 4rem;
  top: 11rem;
  right: 8rem;
  background-color: var(--LimeGreen);
}
.box-yellow {
  width: 5rem;
  height: 5rem;
  bottom: 3rem;
  left: 24rem;
  background-color: var(--GoldenYellow);
}
.box-orange {
  width: 3rem;
  height: 3rem;
  top: 9rem;
  right: 55rem;
  background-color: var(--Orange);
}
.box-sky {
  width: 8rem;
  height: 8rem;
  top: 20rem;
  right: 50rem;
  background-color: var(--SkyBlue);
}
.box-blue {
  width: 6rem;
  height: 6rem;
  bottom: 3rem;
  right: 5rem;
  background-color: var(--SlateBlue);
}
.home-container {
  padding-top: 12vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
}
.home-info {
  width: 60%;
  display: flex;
  padding-left: 15vw;
  flex-direction: column;
}
.home-title {
  color: var(--SmokeWhite);
  font-size: 4em;
  font-weight: 500;
  text-wrap: balance;
  margin-bottom: 1rem;
}
.home-p {
  color: var(--SoftTurquoise);
  font-size: 1.3em;
  text-wrap: balance;
  margin-bottom: 2rem;
}
.home-buttons {
  display: flex;
  gap: 1rem;
}
.home-button {
  width: 30rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--DarkGreen);
  border: 0.2rem transparent;
  cursor: pointer;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}
.home-button::before {
  position: absolute;
  content: "";
  width: 180%;
  height: 80%;
  background-color: transparent;
  transform: rotate(15deg);
}
@media (hover: hover) {
  .home-button:hover::before {
    background-color: var(--Turquoise);
    animation: animate 15s linear infinite;
  }
}
.home-button::after {
  position: absolute;
  content: "";
  width: 98%;
  height: 92%;
  border-radius: 0.5rem;
  background-color: var(--DarkGreen);
}
@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home-button p {
  z-index: 1;
  font-size: 1.5em;
  font-weight: 600;
  color: var(--SmokeWhite);
}
.home-button-play {
  width: 15rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  cursor: default;
  background: var(--SoftTurquoise);
  color: var(--DarkGreen);
  border-radius: 0.5rem;
}
.home-button-play i {
  font-size: 2.5em;
}
.home-button-play-container {
  align-items: center;
}
.home-button-play-container p {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: -0.6rem;
}
.home-button-play-container span {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: -0.5rem;
}
.home-image {
  width: 40%;
  display: flex;
  justify-content: left;
  height: 88vh;
}
.home-image img {
  mask-image: linear-gradient(black 90%, transparent);
  object-fit: cover;
  width: auto;
  height: 108%;
}

@media (max-width: 1046px) {
  .home-container {
    flex-direction: column-reverse;
  }
  .home-info {
    width: 100%;
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .home-title {
    font-size: 3em;
  }
  .home-p {
    padding: 0 1rem;
    font-size: 1.5em;
  }
  .home-button {
    width: 25rem;
    height: 4.5rem;
  }
  .home-button p {
    font-size: 1.8em;
  }
  .home-button-play {
    width: 18rem;
    gap: 0.5rem;
  }
  .home-button-play i {
    font-size: 2.2em;
  }
  .home-button-play-container p {
    margin-bottom: -0.2rem;
    font-size: 1em;
  }
  .home-button-play-container span {
    font-size: 1.8em;
  }
  .home-image {
    width: 100%;
    justify-content: center;
    height: 50%;
  }
  .home-image img {
    mask-image: linear-gradient(black 90%, transparent);
    object-fit: cover;
    width: auto;
    height: 100%;
  }
}

@media (max-width: 780px) {
  .box-purple {
    width: 5rem;
    height: 5rem;
    top: 6rem;
    left: 2rem;
  }
  .box-green {
    width: 2rem;
    height: 2rem;
    top: 9rem;
    right: 4rem;
  }
  .box-yellow {
    width: 3rem;
    height: 3rem;
    bottom: 1rem;
    left: 5rem;
  }
  .box-orange {
    width: 1rem;
    height: 1rem;
    top: 20rem;
    right: 2rem;
  }
  .box-sky {
    width: 4rem;
    height: 4rem;
    top: 31rem;
    right: 11rem;
  }
  .box-blue {
    width: 3rem;
    height: 3rem;
    bottom: 4rem;
    right: 3rem;
  }
  .home-container {
    padding-top: 5vh;
  }
  .home-info {
    padding: 0 3rem;
  }
  .home-title {
    font-size: 1.5em;
  }
  .home-p {
    padding: 0;
    font-size: 0.9em;
    text-align: left;
  }
  .home-buttons {
    gap: 0.5rem;
  }
  .home-button {
    width: 16rem;
    height: 3rem;
  }
  .home-button p {
    font-size: 1em;
  }
  .home-button-play {
    width: 11rem;
  }
  .home-button-play i {
    font-size: 1em;
  }
  .home-button-play-container p {
    font-size: 0.5em;
  }
  .home-button-play-container span {
    font-size: 0.8em;
  }
  .home-image {
    height: 35%;
  }
}
