.home {
  background: linear-gradient(to right, #004853, #007e80, #00b9bd);
}
.home-container {
  padding-top: 5vh;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  z-index: 1;
}
.home-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 4rem;
}
.home-title {
  color: var(--SmokeWhite);
  font-size: 4em;
  font-weight: 500;
  width: 90%;
  text-wrap: balance;
}
.home-p {
  color: var(--SoftTurquoise);
  font-size: 1.2em;
  width: 60%;
  text-wrap: balance;
  margin-bottom: 1.5rem;
}
.home-buttons {
  width: 50%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.home-button {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.8rem 0;
  background-color: var(--DarkGreen);
  border: 0.2rem transparent;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 0 var(--Turquoise);
  transition: all 0.3s ease-in-out;
}
.home-button:hover {
  box-shadow: 0.6rem 0.6rem 1rem var(--Turquoise);
}
.home-button p {
  font-size: 1.5em;
  color: var(--SmokeWhite);
}
.home-button-play {
  width: 40%;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  cursor: default;
  background: var(--SoftTurquoise);
  color: var(--DarkGreen);
  border-radius: 0.5rem;
}
.home-button-play i {
  font-size: 2.5em;
}
.home-button-play-container {
  align-items: center;
}
.home-button-play-container p {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: -0.6rem;
}
.home-button-play-container span {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: -0.5rem;
}
.home-image {
  position: absolute;
  height: 85vh;
  right: 6rem;
  bottom: 0;
}
