.nav {
  background: linear-gradient(
    to right,
    var(--NavyBlue),
    var(--BluishGreen),
    var(--Turquoise)
  );
  color: var(--SmokeWhite);
  position: fixed;
  z-index: 100;
}
.header-container {
  width: 100vw;
  height: 12vh;
  display: flex;
  row-gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.header-logo {
  width: 10rem;
  cursor: pointer;
}
.header-menu {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
.header-menu a {
  text-decoration: none;
  color: var(--SmokeWhite);
  cursor: pointer;
  font-size: 1.1em;
}
.header-select {
  padding: 0.5rem 2rem;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--SmokeWhite);
  font-size: 1.2em;
  cursor: pointer;
  position: relative;
}
.header-select option {
  background-color: var(--DarkGreen);
  color: var(--SmokeWhite);
}
.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 2.5rem;
  background-color: var(--DarkGreen);
  border: 0.2rem transparent;
  cursor: pointer;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}
.header-button::before {
  position: absolute;
  content: "";
  width: 180%;
  height: 80%;
  background-color: transparent;
  transform: rotate(15deg);
}
@media (hover: hover) {
  .header-button:hover::before {
    background-color: var(--SoftTurquoise);
    animation: animate 15s linear infinite;
  }
}
.header-button::after {
  position: absolute;
  content: "";
  width: 98%;
  height: 92%;
  border-radius: 0.5rem;
  background-color: var(--DarkGreen);
}
@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header-button .button-web {
  display: flex;
  font-size: 1.4em;
  font-weight: 600;
  z-index: 1;
  color: var(--SmokeWhite);
}
.header-button .button-mobile {
  display: none;
  font-size: 1.2em;
  font-weight: 600;
  z-index: 1;
  color: var(--SmokeWhite);
}

@media (max-width: 1046px) {
  .header-container {
    height: 8vh;
  }
}
@media (max-width: 780px) {
  .header-logo {
    width: 5rem;
  }
  .header-menu {
    column-gap: 1.5rem;
  }
  .header-select {
    padding: 0.2rem;
    font-size: 0.9em;
  }
  .header-button {
    padding: 0.5rem 1rem;
  }
  .header-button .button-web {
    display: none;
  }
  .header-button .button-mobile {
    display: flex;
  }
}
