.footer {
  width: 100vw;
}
.footer-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: var(--NavyBlue);
}
.footer-section1 {
  width: 20%;
  height: 100%;
  padding: 2rem 0;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-img {
  width: 100%;
  height: 40%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-img img {
  width: 50%;
  object-fit: cover;
}
.footer-section1 p {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
  font-size: 1rem;
  color: var(--SoftTurquoise);
  text-wrap: balance;
}
.footer-section2 {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-section2 p {
  font-size: 1.2rem;
  color: var(--SoftTurquoise);
}

@media (max-width: 780px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-section1 {
    width: 100%;
    height: 50%;
    padding: 1rem 0 0 0;
    justify-content: end;
  }
  .footer-img {
    width: 30%;
    height: auto;
  }
  .footer-img img {
    width: 80%;
  }
  .footer-section1 p {
    padding: 0 0.5rem;
    font-size: 0.8rem;
  }
  .footer-section2 {
    padding: 1rem;
    width: 100%;
    height: 50%;
    justify-content: start;
  }
  .footer-section2 p {
    font-size: 0.8rem;
    color: var(--SoftTurquoise);
  }
}
